body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
.redactor-editor {
    font-family: "Poppins", Helvetica, "sans-serif" !important;
}

h1, h2 {
    color: #a34013 !important;
    text-align: center !important;
}

#header .logo {
    font-weight: 500 !important;
    font-size: 26px !important;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 246, 246, 0.8);
    /* Adjust the last value (alpha) for darkness */
    z-index: -1;
}

body {
    background: url(../../images/bg-light.png) center top;
    background-size: cover;
    background-attachment: fixed;
    color: #111;
}

#main {
    margin-top: 140px;
}

.transparan {
    background-color: #212529 !important;
}

.summary {
    color: #a34013 !important;
}

table thead>tr>th, table>thead>tr>th>a {
    color: #a34013 !important;
    text-decoration: none !important;
}

/* table tbody {
    color: #a34013 !important;
} */
table tr {
    color: #111 !important;
}

.table-hover>tbody>tr:hover {
    background-color: rgb(255, 255, 255, .4) !important;
}

.active>.page-link, .page-link.active {
    background-color: #a34013 !important;
    border-color: #a34013 !important;
}

.pagination .page-item .page-link {
    color: #a34013 !important;
}

.pagination .page-item.active .page-link {
    color: #fff !important;
}

@media (max-width: 991px) {
    .tombol-pengguna {
        color: #1a1814 !important;
    }
}

.paragraf {
    text-align: justify;
    text-indent: 0.5in;
}

.toast {
    width: 100% !important;
}

td.kv-group-odd {
    background-color: transparent !important;
}

td.kv-group-even {
    background-color: transparent !important;
}

h1>a {
    color: #fff9d1 !important;
}

h1>a, li>a {
    text-decoration: none !important;
}

section {
    padding: 0 !important;
}

.transparan {
    background-color: transparent !important;
}

.btn-outline-warning {
    --bs-btn-color: #a34013;
    --bs-btn-border-color: #a34013;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a34013;
    --bs-btn-hover-border-color: #a34013;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #a34013;
    --bs-btn-active-border-color: #a34013;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #a34013;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #a34013;
    --bs-gradient: none;
}

.btn-warning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #a34013;
    --bs-btn-border-color: #a34013;
    --bs-btn-hover-color: #a34013;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #a34013;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #a34013;
    --bs-btn-disabled-border-color: #a34013;
}

#header {
    background: #a34013;
    border-bottom: 1px solid #fcfaf5;
}

#header.header-scrolled {
    background: #a34013;
}

.navbar .active {
    color: #fff9d1 !important;
}

.navbar a:hover, .aktip {
    color: #d48912 !important;
}

/* .form-control {
    width: auto!important;
} */

#main .container, #main .container-fluid {
    margin-bottom: 20px !important;
}

.select2-container {
    display: inline !important;
}

.select2-container .select2-selection--single {
    height: 36px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 8px !important;
}

#source-html {
    font-family: "Poppins", sans-serif !important;
}

#footer {
    background: #fff;
    color: #000;
}

#footer .footer-top {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #000;
}

#footer .footer-top .footer-info p {
    color: #000;
}

#footer .footer-top .footer-links ul a {
    color: #d48912;
}

.table-secondary {
    --bs-table-color: #6C757D !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    background-color: #a34013;
    color: #fff;
}

.d-flex {
    gap: 8px;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}